.classpath
.settings/
target/
languages.rdf
lov.n3
lov.n3.gz
lov.rdf
lov.nq
lov.nq.gz
lov_aggregator.nq
lov_aggregator.zip
lov_metrics.n3
.project
lov.config
./src/main/resources/queries/rdf2es/agent-altUris.sparql
./src/main/resources/queries/rdf2es/agent-name.sparql
./src/main/resources/queries/rdf2es/describe-lov-vocab-descs.sparql
./src/main/resources/queries/rdf2es/describe-lov-vocab-titles.sparql
./src/main/resources/queries/rdf2es/describe-lov-vocab.sparql
./src/main/resources/queries/rdf2es/list-agent-related-vocab.sparql
./src/main/resources/queries/rdf2es/list-lov-organizations.sparql
./src/main/resources/queries/rdf2es/list-lov-persons.sparql
./src/main/resources/queries/rdf2es/list-lov-swagents.sparql
./src/main/resources/queries/rdf2es/list-lov-vocabularies.sparql
./src/main/resources/queries/rdf2es/lov-term-metrics.sparql
./src/main/resources/queries/rdf2es/lov-term-tags.sparql
./src/main/resources/queries/rdf2es/lov-vocabulary-languages.sparql
./src/main/resources/queries/rdf2es/lov-vocabulary-terms.sparql
./src/main/resources/queries/lov-term-metrics.sparql
./src/main/resources/queries/lov-vocabulary-terms.sparql
./src/main/resources/log4j.properties
