services:
  maven_builder:
    image: maven:3-jdk-8 # Imagen oficial con Maven 3 y JDK 8
    container_name: maven_build_java8
    working_dir: /usr/src/app # Directorio de trabajo dentro del contenedor
    networks:
      - Ontology_group
    volumes:
      - .:/usr/src/app
      - maven_cache:/root/.m2
      - ontology_hub_folder:/app
    command: >
      /bin/bash -c "
        mkdir -p src/main/resources/queries/rdf2es &&
        cp lov.example.config lov.config &&
        sh createQueries.sh &&
        mvn clean package -DskipTests && 
        cp -r target/lovscripts-cli/lovscripts/* /app/scripts/ &&
        cp lov.example.config /app/scripts/lov.config &&
        bash /app/setup/lovInitialization.sh
      "

networks:
  Ontology_group:
    external: true
    name: Ontology_group_network

volumes:
  ontology_hub_folder:
    external: true
    name: ontology_hub_folder
  maven_cache: