ELASTICSEARCH_CLUSTER=elasticsearch
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_INDEX_NAME=lov
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_INSTANCE=lov
LANGUAGES_FILE_PATH=/home/sergio/scripts/languages.rdf
LOV_DATASET_URI=http://localhost:3333/dataset/lov
LOV_ENDPOINT=http://localhost:8180/openrdf-sesame/repositories/lov
LOV_NQ_FILE_PATH=/home/sergio/lov/public/lov.nq
LOV_RDF_FILE_PATH=/home/sergio/scripts/lov.rdf
LOV_N3_FILE_PATH=/home/sergio/lov/public/lov.n3
METRICS_FILE_PATH=/home/sergio/scripts/lov_metrics.n3
VERSIONS_DIR_PATH=/home/sergio/lov/versions
VERSIONS_TEMP_PATH=/home/sergio/lov/versions/temp
