ELASTICSEARCH_CLUSTER=elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_INDEX_NAME=lov
MONGO_DB_HOST=mongodb
MONGO_DB_PORT=27017
MONGO_DB_INSTANCE=lov
LANGUAGES_FILE_PATH=/app/scripts/languages.rdf
LOV_DATASET_URI=http://lov_server:3333/dataset/lov
LOV_ENDPOINT=http://lov_server:8180/openrdf-sesame/repositories/lov
LOV_NQ_FILE_PATH=/app/public/lov.nq
LOV_RDF_FILE_PATH=/app/scripts/lov.rdf
LOV_N3_FILE_PATH=/app/public/lov.n3
METRICS_FILE_PATH=/app/scripts/lov_metrics.n3
VERSIONS_DIR_PATH=/app/versions
VERSIONS_TEMP_PATH=/app/versions/temp
